services:
  adguard:
    image: adguard/adguardhome
    hostname: adguard
    container_name: adguard
    ports:
      - :80/tcp
      - :443/tcp
      - :443/udp
      - :3000/tcp
    volumes:
      - ./workdir:/opt/adguardhome/work
      - ./confdir:/opt/adguardhome/conf
    restart: unless-stopped
    networks:
      - my_network
    healthcheck:
      test: ["CMD", "wget", "--spider", "--q", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s

networks:
  my_network:
    driver: bridge
    name: my_network
