########### kics ###########

# docker socket volume add = d6355c88-1e8d-49e9-b2f2-f8a1ca12c75b
# ignore privileged container = ae5b6871-7f45-42e0-bb4c-ab300c4d2026
# ignore important directory volume mount rule id = 1c1325ff-831d-43a1-973e-839ae57dfcc0
# ignore important port assign = bc2908f3-f73c-40a9-8793-c1b7d5544f79

######## Rules to ignore the rules below are included to be ignored #########

# Ignore shared volume = 8c978947-0ff6-485c-b0c2-0bfca6026466
# ignore cap_add not defined = ce76b7d0-9e77-464d-b86f-c5c48e03e22d
# Ignore security_opt not defined = 610e266e-6c12-4bca-9925-1ed0cd29742b
# Ignore host address when publishing ports = 451d79dc-0588-476a-ad03-3c7f0320abb3
#kics-scan disable=610e266e-6c12-4bca-9925-1ed0cd29742b,ce76b7d0-9e77-464d-b86f-c5c48e03e22d,8c978947-0ff6-485c-b0c2-0bfca6026466,451d79dc-0588-476a-ad03-3c7f0320abb3,1c1325ff-831d-43a1-973e-839ae57dfcc0,d6355c88-1e8d-49e9-b2f2-f8a1ca12c75b
services:
  portainer:
    image: portainer/portainer-ce:2.21.5
    container_name: portainer
    restart: always
    ports:
      - 8000:8000
      - 9443:9443 # Login https://<host>:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - my_network
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:9000"]
      interval: 15s
      timeout: 5s
      retries: 3
      disable: true

volumes:
  portainer_data:
networks:
  my_network:
    name: my_network
    driver: bridge
